*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    min-height: 50px;
    background-color: darkorange;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 50px;
    
}

#boolean{
    height: 25px;
}

.links_top > ul,.links_bot ul{
    display: flex;
}

li{
    list-style: none;
}

.links_top a, i, .links_bot a{
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

main{
    padding-top: 100px;
}


.container_main{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.pic_catalogue img{
    width: 100%;
}

.pic_catalogue{
    width: calc(100% / 3 - 10px);
    margin-right: 10px;
    position: relative;
    padding-bottom: 30px;
}

.hover_pic{
    display: none;
}

.pic_catalogue:hover .hover_pic{
    display: block;
}

.pic_catalogue:hover .nohover_pic{
    display: none;
}

.tag{
    color: white;
    padding: 5px;
    font-size: 12px;
    position: absolute;

}

.tag.red{
    background-color: red; 
    bottom: 20%;
    left: 0;
}

.tag.green{
    background-color: green; 
    bottom: 20%;
    left: 15%;  
}

.tag.green.side{
    left:0;
}

.tag.heart{
    color: black;
    background-color: white;
    top: 5%;
    right: 0;
    padding: 20px;
    font-size: 20px;
}

span{
    font-size: 14px;
    font-weight: 300;
}

.discount{
    color: red;
    font-weight: 900;
}

.original_price{
    text-decoration: line-through;
}

footer{
    background-color: black;
    height: 80px;
    color: white;
}

.container_footer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.links_bot ul{
    font-size: 10px;
}

h4{
    margin-bottom: 5px;
}

.link_affiliated > h5{
    font-size: 12px;
    margin-bottom: 5px;
}